<form (ngSubmit)="save()" [formGroup]="userFormGroup" novalidate>
    <h2>Alta</h2>
    <div class="container">
        <div>Nombre</div>
        <input type="text" class="form-control" placeholder="Nombre" formControlName="name" required>
        <div>CIF</div>
        <input type="text" class="form-control" placeholder="CIF" formControlName="cif" required>
        <div>Dirección</div>
        <input type="text" class="form-control" placeholder="Dirección" formControlName="direccion" required>
        <div>Grupo</div>
        <select formControlName="group" required>
            @for (group of groups; track $index) {
                <option >{{group}}</option>
            }
        </select>
        <div></div>
        <button type="submit">Guardar</button>
    </div>
</form>
